.footer-container {
    background-color: #1F4E78;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}